

<%= form_tag(@post,  :method => "get") do %>
  <div class="field">
  <%= label_tag(:message)%><br />
  <%= text_field_tag(:message, params[:message])%> <br />
  </div>
  <div class="field">
    <%= label_tag(:url)%><br />
    <%= text_field_tag(:url, params[:url])%><br />
  </div>
  <div class="submit">
    <%= submit_tag("Submit")%>
  </div>
<% end %>    
    